################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MiningProfitUpdater/v15
*.sln
*.pyproj
